In [3]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


nuqta =sns.load_dataset ("dots")
nuqta.head()

  align choice  time  coherence  firing_rate
0  dots     T1   -80        0.0    33.189967
1  dots     T1   -80        3.2    31.691726
2  dots     T1   -80        6.4    34.279840
3  dots     T1   -80       12.8    32.631874
4  dots     T1   -80       25.6    35.060487

In [12]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


kashti =sns.load_dataset ("titanic")

#defining a color pelette

p = sns.color_palette('rocket_r')

#plot lineplot

sns.replot(data=nuqta,
           x="time", y="firing rate", 
           heu = "coherence", size = 'choice', col="alighn",
           kind = "line" , size_order= ["T1", "T2"], palette=p,
           height=5, aspect=.75, face_kws=dict(sharex=False),
          )

AttributeError: module 'seaborn' has no attribute 'replot'